@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mono: 'Roboto Mono', monospace;
  
  /* WAPS Digital Brand Colors */
  --waps-yellow: #ffca00;
  --waps-black: #000000;
  --waps-white: #ffffff;
  --waps-gray: #60606e;
  --waps-dark-gray: #3c3c3c;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 32px;
  background: var(--waps-black);
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-size: 18px;
  line-height: 32px;
  margin: 0;
  color: var(--waps-white);
}

@media (max-width: 1024px) {
  html,
  body {
    font-size: 15px;
    line-height: 24px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  margin: 40px 0;
  font-size: 64px;
  line-height: 70px;
  font-weight: bold;
}

@media (max-width: 1024px) {
  h1 {
    margin: 24px 0;
    font-size: 42px;
    line-height: 42px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 38px;
    line-height: 38px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 32px;
    line-height: 32px;
  }
}

p {
  margin: 24px 0;
}

a {
  color: currentColor;
}

a:focus {
  opacity: 0.8;
  outline: none;
}

a:active {
  opacity: 0.7;
  outline: none;
}

svg {
  vertical-align: middle;
}